projects/2-nasa_project/client/node_modules
projects/2-nasa_project/server/node_modules
3-node_performance/node_modules
5-graphql/node_modules
projects/3-customer-cli/node_modules
projects/3-customer-cli/.env
projects/4-socket-app/node_modules